<ng-container *ngIf="data$ | async as data">
    <nav class="navbar navbar-light">
        <div class="container">
            <a class="navbar-brand" routerLink="/">Bedium</a>
            <ul class="nav navbar-nav pull-xs-right">
                <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
                <ng-container *ngIf="data.currentUser">
                    <li class="nav-item"><a class="nav-link" routerLink="/editor"><i class="ion-compose"></i>&nbsp; New Article</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/settings"><i class="ion-gear-a"></i>&nbsp; Settings</a></li>
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/profile', data.currentUser.username]">
                            <img [src]="data.currentUser.image" alt="profile" class="user-pic">
                            &nbsp; {{data.currentUser.username}}
                        </a>
                    </li>
                </ng-container>
                <ng-container *ngIf="data.currentUser === null">
                    <li class="nav-item"><a class="nav-link" routerLink="/login">Sign In</a></li>
                    <li class="nav-item"><a class="nav-link" routerLink="/register">Sign Up</a></li>
                </ng-container>
            </ul>
        </div>
    </nav>
</ng-container>
