<mc-status-wrapper *ngIf="data$ | async as data" [errorMessage]="data.error" [isLoading]="data.isLoading">
    <div class="article-page" *ngIf="data.article as article">
        <div class="banner">
            <div class="container">
                <h1>{{article.title}}</h1>

                <div class="article-meta">
                    <a [routerLink]="['profile', article.author.username]"><img [src]="article.author.image" /></a>
                    <div class="info">
                        <a [routerLink]="['profile', article.author.username]"
                            class="author">{{article.author.username}}</a>
                        <span class="date">{{article.createdAt | date: 'mediumDate'}}</span>
                    </div>
                    <button *ngIf="!data.isAuthor" class="btn btn-sm btn-outline-secondary"
                        (click)="handleFollow(isFollowing, article.author.username)">
                        <i class="ion-plus-round"></i>
                        &nbsp; {{isFollowing ? 'Unfollow' : 'Follow'}} {{article.author.username}}
                    </button>
                    &nbsp;&nbsp;
                    <button class="btn btn-sm btn-outline-primary">
                        <i class="ion-heart"></i>
                        &nbsp; Favorite Article <span class="counter">({{article.favoritesCount}})</span>
                    </button>
                    &nbsp;&nbsp;
                    <a *ngIf="data.isAuthor" routerLink="/editor" [queryParams]="{slug: article.slug}"
                        class="btn btn-sm btn-outline-secondary">
                        <i class="ion-edit"></i> Edit Article
                    </a>
                    &nbsp;&nbsp;
                    <button *ngIf="data.isAuthor" class="btn btn-sm btn-outline-danger" (click)="onArticleDelete()">
                        <i class="ion-trash-a"></i> Delete Article
                    </button>
                </div>
            </div>
        </div>

        <div class="container page">
            <div class="row article-content">
                <div class="col-md-12">
                    <p>
                        {{article.body}}
                    </p>
                    <ul class="tag-list">
                        <li class="tag-default tag-pill tag-outline" *ngFor="let tag of article.tagList">{{tag}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</mc-status-wrapper>